/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-black: #000000;
  --main-purple: purple;
  --main-magenta: magenta;
  --main-cyan: cyan;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints.
 * The calculation is the following:
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--main-black);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
/*导航打开关闭  */
.container {
  display: none;
  cursor: pointer;
  align-self: flex-start;
  margin:0.5rem;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.nav-list {
  display: flex;
  margin: 2rem;
  overflow: hidden;
  transition: 0.8s;
}
.nav-list > li {
  position: relative;
  margin: 2rem;
  overflow: hidden;
}

@media (max-width: 28.75em) {
  .nav {
    flex-direction: column-reverse;
  }
  .container {
    display: block;
  }
  .nav-list {
    max-height: 0;
    margin: 0rem;
    flex-direction: column;
    justify-content: center;
  }
  .show {
    max-height: 200px;
  }
  .nav-list > li {
    position: relative;
    margin: 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
}

.nav-top {
  transform-origin: -4em center;
  transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}
.nav-bottom {
  position: absolute;
  top: 0;
  transform-origin: -4em center;
  transform: translateY(100%) rotate(15deg);
  transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.nav-list li:hover .nav-top {
  transform: translateY(-100%) rotate(-15deg);
}
.nav-list li:hover .nav-bottom {
  transform: translateY(0) rotate(0deg);
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #3a3d40 0%, #181719 100%);
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projects-section-header {
  max-width: 650px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-red);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1280px;
  grid-gap: 1rem;
  padding: 6rem 2rem;
  margin: 0 auto;
}

@media (max-width: 64em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 45em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }
}

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--main-gray);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  min-width: 320px;
  overflow: hidden;
  padding: 2rem;
  border: solid 5px green;
}

.project-image {
  height: calc(320px - 6.8rem);
  object-fit: contain;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.code {
  color: var(--main-gray);
  transition: color 2s ease-in-out;
}

.project-card:hover .code {
  color: #ff7f50;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background-color 0.3s ease-out;
}

.btn-show-all:hover {
  background-color: var(--main-magenta);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}
/* divider */
#divider {
  border: 2px solid var(--main-red);
}
/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
